.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    background-color: rgba(0, 0, 0, 0.404);
    border-radius: 40px;
    margin-left: 29%;
    margin-right: 29%;
    padding: 20px;
    line-height: 6vh;
    margin-bottom: 2vh;
}
.contact h1{
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    color: white;
}
/* .name{
    margin-top: 10vh;
} */
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name input{
    height: 5vh;
    width: 25vw;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 0.445);
    font-weight: bold;
}
.name input:active{
    border: none;
}
.name input:visited{
    border: none;
}
.name span{
    margin-right: -30px;
    font-weight: bolder;
}

.email input{
    margin-top: 10px;
    height: 5vh;
    width: 25vw;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 0.445);
    font-weight: bold;
}
.email input:active{
    border: none;
}
.email input:visited{
    border: none;
}
.email span{
    margin-right: -30px;
    font-weight: bolder;
}
.text textarea{
    margin-top: 10px;
    margin-bottom: 5vh;
    margin-right: 1vw;
    height: 30vh;
    width: 25vw;
    border-radius: 20px;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background: rgba(255, 255, 255, 0.445);
    font-weight: bold;
}
.textarea textarea:active{
    border: none;
}
.textarea textarea:visited{
    border: none;
}


button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    height: 5vh;
    border: none;
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    width: 20vw;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    transition: 1.5s ease;
}

button:active{
    border: none;
    
}
button:visited{
    border: none;
}
button:hover{
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width:700px){
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    .contact{
        margin-top: 4vh;
        background: none;
    }
    .contact h1{
        font-size: .8em;
        font-family: sans-serif;
        line-height:normal;
        overflow-wrap: break-word;
    }
    .name input{
        min-width: 210px;
    }
    .email input{
        min-width: 210px;
    }
    .text textarea{
        min-width: 210px;
    }
    button{
        min-width: 150px;
    }
  
}


