*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.services{
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 0;
}

.services-nav{
    margin-left: 5vw;
    color: white;
    list-style-type:none;
    position: fixed;

}
.services-nav ul{
    line-height: 3rem;
}
.services-nav ul li{
    list-style-type:none;
}
.list a{
    color: white;
    text-decoration: none;
}


.content-services{
    /* border: 1px solid black; */
    width: 75vw;
    line-height: 2em;
    color: white;
    margin-left: 20vw;
} 
.service{
    background-color: rgba(0, 0, 0, 0.336);
    margin-bottom: 2vh;
    border-radius: 10px;
    padding: 5%;
}
.service h3{
    text-align: center;
}
