*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}


.upper-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    /* gap: 35%; */
   
}


.menu ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    gap: 2vw;
}

.menu ul a{
    text-decoration: none;
    color: white;
    /* font-family: 'Russo One', sans-serif; */
    font-size: 1rem;
    padding: 2px;
}

.menu a i{
    float: right;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 50vh;
    line-height: 2.5em;
    letter-spacing: 1rem;
    color: white;

}
.welcome-text h1{
    text-transform: uppercase;
}
.welcome-text h2{
    font-size: 25px;
}
.welcome-text h2 span{
    color: #b92b27; 
    color: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.read-more{
    height: 5vh;
    width: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    background-color: #b92b27; 
    background-color: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-bottom: 2vh;
    margin-left: 45vw;
    cursor: pointer;
}
.read-more a{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: none;
}
.read-more:hover{
    color:blueviolet;
    background-color: crimson;
}

.about{
    background-image: url('images/image-alt-text.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-left: 0%;
    padding: 5%;
    line-height: 2em;
    height: 100vh;
}
.about-content{
    background-color: rgba(0, 0, 0, 0.37);
    /* box-sizing: border-box; */
    padding: 5%;
    color: white;
    height: 70vh;
    border-radius: 20px;
    line-height: 2em;

}
.about-content p{
    text-align: center;
    /* box-sizing: border-box; */
}

footer {
    height: 15vh;
    background-color: white;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    line-height: 2em;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: rgba(0, 0, 0, 0.241);
    color: white;

    
}
 footer i{
    color: #ff7d27;
    font-family: 'Montserrat', sans-serif;
 }
.copyright span{
    color: #ff7d27;
   
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(2, 4, 36);
    border-radius: 10px;
  }

  @media only screen and (max-width:700px) {
      *{
          box-sizing: border-box;
      }
      .upper-container{
          width: 100%;
      }
      .nav{
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 35%;
      }
      .menu ul{
          
          
      }
      .logo img{
          margin-left: 0px;
          height: 40px;
          width: 120px;
      }
      .welcome-text h1{
          text-transform: capitalize;
          font-size: 1.5em;
      }
      .welcome-text h2{
        font-size: 1.2rem;
      }
      .read-more{
          display: flex;
          justify-content: center;
          align-items: center;
      }

      
  }
